<div class='container'>

	<h1>This is the Chat screen</h1>
		
	<table>
		
	


		<tr ng-repeat='messages in fullChat track by $index'>
		 <td class="daddy">	{{messages}}</td>
		 <td></td>
		</tr>
		
			<!-- <td class='daddy'>{{message}}</td>
			<td ></td>
		</tr> -->
		<!-- <tr>
			<td ></td>
			<td class='ricky'>Hi dad</td>
		</tr>
		<tr>
			<td class='daddy'>How are you today? I hope you were working very hard in school todayI hope you were working very hard in school todaI hope you were working very hard in school toda</td>
			<td ></td>
		</tr>
		<tr>
			<td ></td>
			<td class='ricky'>I'm very well thank you</td>
		</tr>
		<tr>
			<td class='daddy'>Hello son</td>
			<td ></td>
		</tr>
		<tr>
			<td ></td>
			<td class='ricky'>Hi dad</td>
		</tr>
		<tr>
			<td class='daddy'>How are you today? I hope you were working very hard in school todayI hope you were working very hard in school todaI hope you were working very hard in school toda</td>
			<td ></td>
		</tr>
		<tr>
			<td ></td>
			<td class='ricky'>I'm very well thank you</td>
		</tr>
		<tr>
			<td class='daddy'>Hello son</td>
			<td ></td>
		</tr>
		<tr>
			<td ></td>
			<td class='ricky'>Hi dad</td>
		</tr>
		<tr>
			<td class='daddy'>How are you today? I hope you were working very hard in school todayI hope you were working very hard in school todaI hope you were working very hard in school toda</td>
			<td ></td>
		</tr>
		<tr>
			<td ></td>
			<td class='ricky'>I'm very well thank you</td>
		</tr> -->
	

	</table>
	<div id='typeMessageBox'>
		<textarea ng-model='message'></textarea>
		<button ng-click='postMessage()'>Send</button>

	</div>

</div>